@model List<Author>
@{
    ViewData["Title"] = "Authors";

    <div class="text-center">
        <h1 class="display-4">Authors</h1>
        <ul>
            @foreach (var author in Model)
            {
                <li>
                    <h2>@author.Name</h2>
                    <ul> 
                        @foreach (var book in author.Books)
                        {
                            <li>@book.Title</li>
                        }
                    </ul>
                    
                </li>
            }
        </ul>
    </div>
}